<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro" th:with="title='角色管理'">
<!--head-->
<header th:replace="~{production/Commons/header::headerFragment(${title})}"></header>
<!--head-->

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <!-- menu_main -->
        <div th:replace="~{production/Commons/common::menu_main}"></div>
        <!-- menu_main-->

        <!-- top navigation -->
        <div th:replace="~{production/Commons/common::top_navigation}"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Role
                            <small>角色表管理</small>
                        </h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Go!</button>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>角色表
                                    <small>Role</small>
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">


                                <p class="text-muted font-13 m-b-30">
                                    DataTables has most features enabled by default, so all you need to do to use it
                                    with your own tables is to call the construction function:
                                    <code>$().DataTable();</code>
                                </p>
                                <p>
                                    <!--                    <button id="detailBtn" class="btn btn-info " type="button"><i class="fa fa-trash-o"></i> 查看</button>-->
                                    <!--                    <button id="submitBtn" class="btn btn-info " type="button"><i class="fa fa-trash-o"></i> 提交</button>-->
                                <!--  <button id="addBtn" class="btn btn-info " type="button"><i class="fa fa-user"></i>添加</button>-->
                                    <a  class="btn btn-info " th:onclick="addRole([[${session.IndexDto.getUid()}]])"><i class="fa fa-user"></i> 添加</a>
                                    <button id="printBtn" class="btn btn-default " type="button"><span
                                            class="glyphicon glyphicon-print"></span> 打印
                                    </button>
                                    <button id="dowloadBtn" class="btn btn-default " type="button"><span
                                            class="glyphicon glyphicon-save"></span> excel下载
                                    </button>
                                    <button id="dowloadpdfBtn" class="btn btn-default " type="button"><span
                                            class="glyphicon glyphicon-save-file"></span> pdf下载
                                    </button>   
                                    <button id="refreshBt" class="btn btn-default " type="button"><i
                                            class="glyphicon glyphicon-refresh"></i> 刷新
                                    </button>
                                </p>
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>角色编号</th>
                                        <th>角色名称</th>
                                        <th>角色代码</th>
                                        <th>角色描述</th>
                                        <th>添加时间</th>
                                        <th>上次修改时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="role:${roleList}">
                                        <td th:text="${role.getId()}"></td>
                                        <td th:text="${role.getRoleName()}"></td>
                                        <td th:text="${role.getCode()}"></td>
                                        <td th:text="${role.getDescpt()}"></td>
                                        <td th:text="${role.getInsertTime()}"></td>
                                        <td th:text="${role.getUpdateTime()}"></td>
                                        <td>

                                            <a class="btn btn-info btn-round btn-xs " th:onclick="updateRole([[${role.getId()}]]);">
                                                <i class="fa fa-pencil"> 编辑</i></a>
                                            <a class="btn btn-info btn-round btn-xs "  th:onclick="addPerm([[${role.getId()}]],1);">
                                                <i class="fa fa-plus-circle"> 添加子权限节点</i></a>
                                            <a class="btn btn-danger btn-round btn-xs" th:onclick="delRole([[${role.getId()}]],[[${role.getRoleName()}]]);">
                                                <i class="fa fa-trash-o"> 删除</i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                        <!--2-->
                        <!--<ul id="treeDemo2" class="ztree"></ul>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
        <!-- /page content -->

        <!--更新或添加角色表-->
        <div class="layui-layout">
            <div id = "updateRoleForm" class="layer_self_wrap" style="width:500px;display:none;">
                <form id="RoleForm" class="layui-form" action="" method="post" >
                    <input type="hidden" id="id" name="id"  />
                    <input type="hidden" id="flag" name="flag">
                    <input type="hidden" id="insertUid" name="insertUid" >
                    <input type="hidden" id="rolePermIds" name="rolePermIds"/>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">角色名称：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="roleName"  lay-verify="required" autocomplete="off" class="layui-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">角色代码：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="code" lay-verify="required" autocomplete="off" class="layui-input"/>
                            </div>
                        </div>
                    </div>

                    <!--<div class="layui-form-item">
                        <label class="layui-form-label">角色等级：</label>
                        <div class="layui-input-block">
                            <input type="text" name="grade" th:value="${roleDetail != null}?(${roleDetail.grade != null}? ${roleDetail.grade} : '') : ''" lay-verify="" placeholder="" autocomplete="off" class="layui-input"/>
                        </div>
                    </div>-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色描述：</label>
                        <div class="layui-input-block">
                            <textarea name="descpt" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">权限：</label>
                        <div class="layui-input-block">
                            <ul id="treeDemo" class="demo-tree-more"></ul>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="RoleSumbit">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>

        <!-- footer content -->
        <footer th:replace="~{production/Commons/common::footer_content}"></footer>
        <!-- /footer content -->
    </div>
</div>


<!-- jQuery -->
<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script th:src="@{/vendors/nprogress/nprogress.js}"></script>
<!-- validator -->
<script th:src="@{/vendors/validator/validator.js}"></script>
<!-- iCheck -->
<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
<!--layui-->
<script th:src="@{/vendors/layui/layui.js}"></script>

<!-- Switchery -->
<script th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>




<!-- Datatables -->
<script th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
<script th:src="@{/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
<script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
<script th:src="@{/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
<script th:src="@{/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
<script th:src="@{/vendors/datatables.net-scroller/js/dataTables.scroller.min.js}"></script>
<script th:src="@{/vendors/jszip/dist/jszip.min.js}"></script>
<script th:src="@{/vendors/pdfmake/build/pdfmake.min.js}"></script>
<script th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>


<!-- Custom Theme Scripts -->
<script th:src="@{/build/js/custom.min.js}"></script>


<!--roleList 的操作-->
<script th:src="@{/src/js/auth/roleList.js}"></script>



</body>
</html>
