<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sizaif.emsdemo.mapper.Contest.ContestTeamMapper">

    <!--映射表-->
    <resultMap id="BaseResultMap" type="com.sizaif.emsdemo.pojo.Contest.ContestTeamKey" >
        <id column="contest_id" property="contestId" jdbcType="INTEGER" />
        <id column="team_id" property="teamId" jdbcType="INTEGER" />
        <id column="isEnabled" property="isEnabled" jdbcType="INTEGER" />
    </resultMap>



    <select id="getCTByPrimaryKey" parameterType="com.sizaif.emsdemo.pojo.Contest.ContestTeamKey" resultMap="BaseResultMap">
        SELECT  contest_team.*
        FROM contest_team
        WHERE contest_team.contest_id = #{contestId}
        AND contest_team.team_id= #{teamId};
    </select>
    <select id="getCTByisEnabled" parameterType="com.sizaif.emsdemo.pojo.Contest.ContestTeamKey" resultMap="BaseResultMap">
        SELECT  saishiguanli.contest_team.*
        FROM saishiguanli.contest_team
        WHERE saishiguanli.contest_team.isEnabled = #{isEnabled}
    </select>


    <insert id="insert" parameterType="com.sizaif.emsdemo.pojo.Contest.ContestTeamKey" >
        insert into saishiguanli.contest_team
          (contest_id, team_id,isEnabled)
        values
        (#{contestId,jdbcType=INTEGER}, #{teamId,jdbcType=INTEGER}),#{isEnabled,jdbcType=INTEGER})
    </insert>

    <!--动态insert-->
    <insert id="insertSelective" parameterType="com.sizaif.emsdemo.pojo.Contest.ContestTeamKey" >
        insert into saishiguanli.contest_team
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="contestId != null" >
                contest_id,
            </if>
            <if test="teamId != null" >
                team_id,
            </if>
            <if test="isEnabled != null" >
                isEnabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="contestId != null" >
                #{contestId,jdbcType=INTEGER},
            </if>
            <if test="teamId != null" >
                #{teamId,jdbcType=INTEGER},
            </if>
            <if test="isEnabled != null" >
                #{isEnabled,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!-- 动态update-->
    <update id="updateSelective" parameterType="com.sizaif.emsdemo.pojo.Contest.ContestMemberkey">
        UPDATE contest_team
        <trim prefix="set" suffixOverrides=",">
            <if test="contestId!=null">contest_id = #{contestId},</if>
            <if test="teamId!=null">team_id = #{teamId},</if>
            <if test="isEnabled!=null">isEnabled = #{isEnabled},</if>
        </trim>
        where contest_id = #{contestId}
        AND team_id = #{teamId}
    </update>
    <select id="findByteam" resultMap="BaseResultMap" parameterType="int">
        SELECT contest_id,team_id,isEnabled
        FROM saishiguanli.contest_team
        WHERE team_id = #{teamId}
    </select>

    <select id="findByContest" resultMap="BaseResultMap" parameterType="int">
        SELECT contest_id,team_id,isEnabled
        FROM saishiguanli.contest_team
        WHERE contest_id = #{contestId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.sizaif.emsdemo.pojo.Contest.ContestTeamKey" >
        delete from saishiguanli.contest_team
        where contest_id = #{contestId,jdbcType=INTEGER}
        and team_id = #{teamId,jdbcType=INTEGER}
    </delete>
</mapper>
