<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sizaif.emsdemo.mapper.MemberMapper">

    <!--映射表-->
    <resultMap id="MemberMap" type="Member">
        <result column="id" property="id"/>
        <result column="memberRank_id" property="memberRankId"/>
        <result column="address" property="address"/>
        <result column="birth" property="birth"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="truename" property="truename"/>
        <result column="school" property="school"/>
        <result column="image" property="image"/>
    </resultMap>
    <!--动态SQL插入-->
    <insert id="AddOneMember" parameterType="map" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO saishiguanli.member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="memberRankId != null">
                memberRank_id,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="truename != null">
                truename,
            </if>
            <if test="school != null">
                school,
            </if>
            <if test="image != null">
                image,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="memberRankId != null">
                #{memberRankId},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="birth != null">
                #{birth},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="truename != null">
                #{truename},
            </if>
            <if test="school != null">
                #{school},
            </if>
            <if test="image != null">
                #{image},
            </if>
        </trim>
    </insert>

    <select id="QueryAllMemberInfo" resultMap="MemberMap">
        SELECT saishiguanli.member.* FROM saishiguanli.member
    </select>
    <select id="QueryOneMemberInfoByID" resultMap="MemberMap" parameterType="int">
        SELECT saishiguanli.member.* FROM  saishiguanli.member WHERE id = #{id};
    </select>

    <!--动态SQL更新-->
    <update id="UpdateMember" parameterType="map" >
        update saishiguanli.member
        <trim prefix="set" suffixOverrides=",">
            <if test="memberRankId!=null">memberRank_id=#{memberRankId},</if>
            <if test="address!=null">address=#{address},</if>
            <if test="birth!=null">birth=#{birth},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="gender!=null">gender=#{gender},</if>
            <if test="truename!=null">truename=#{truename},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="school!=null"> school=#{school},</if>
            <if test="image!=null">image=#{image},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="DeleteOneMemberById" parameterType="int">
        DELETE FROM saishiguanli.member WHERE id = #{id}
    </delete>
</mapper>