<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sizaif.emsdemo.mapper.PermissionsMapper">

    <!--映射表-->
    <resultMap id="BaseResultMap" type="Permission" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="name" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="istype" property="istype" jdbcType="INTEGER" />
        <result column="descpt" property="descpt" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="page" property="page" jdbcType="VARCHAR" />
        <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, pid, istype, descpt, code, page,insert_time, update_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from saishiguanli.permission
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from saishiguanli.permission
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="Permission" >
        insert into permission
        (id, name, pid, istype, descpt, code,page, insert_time,update_time)
        values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER},
         #{istype,jdbcType=INTEGER}, #{descpt,jdbcType=VARCHAR},
        #{code,jdbcType=VARCHAR},#{page,jdbcType=VARCHAR},
        #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <!--动态插入-->
    <insert id="insertSelective" parameterType="Permission" >
        insert into permission
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="title != null" >
                name,
            </if>
            <if test="pid != null" >
                pid,
            </if>
            <if test="istype != null" >
                istype,
            </if>
            <if test="descpt != null" >
                descpt,
            </if>
            <if test="code != null" >
                code,
            </if>
            <if test="page != null" >
                page,
            </if>
            <if test="insertTime != null" >
                insert_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="pid != null" >
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="istype != null" >
                #{istype,jdbcType=INTEGER},
            </if>
            <if test="descpt != null" >
                #{descpt,jdbcType=VARCHAR},
            </if>
            <if test="code != null" >
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="page != null" >
                #{page,jdbcType=VARCHAR},
            </if>
            <if test="insertTime != null" >
                #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--动态更新-->
    <update id="updateByPrimaryKeySelective" parameterType="Permission" >
        update permission
        <set >
            <if test="title != null" >
                name = #{title,jdbcType=VARCHAR},
            </if>
            <if test="pid != null" >
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="istype != null" >
                istype = #{istype,jdbcType=INTEGER},
            </if>
            <if test="descpt != null" >
                descpt = #{descpt,jdbcType=VARCHAR},
            </if>
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="page != null" >
                page = #{page,jdbcType=VARCHAR},
            </if>
            <if test="insertTime != null" >
                insert_time = #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="Permission" >
        update permission
        set name = #{title,jdbcType=VARCHAR},
        pid = #{pid,jdbcType=INTEGER},
        istype = #{istype,jdbcType=INTEGER},
        descpt = #{descpt,jdbcType=VARCHAR},
        code = #{code,jdbcType=VARCHAR},
        page = #{page,jdbcType=VARCHAR},
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--=Start findAll 查找所有权限-->
    <select id="getAllPermissions" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from permission
    </select>
    <!--=End findAll 查找所有权限-->



    <!--=Start findPerms 查找权限树列表 结果集映射-->
    <resultMap id="findPermissionMap" type="com.sizaif.emsdemo.dto.PermissionVO">
        <id property="id" column="id"/>
        <result property="title" column="name"/>
        <result property="pid" column="pid"/>
        <result property="istype" column="istype"/>
        <result property="code" column="code"/>
        <result property="page" column="page"/>
        <collection property="children"  column="id" ofType="com.sizaif.emsdemo.dto.PermissionVO" select="findChildPerm">
        </collection>

    </resultMap>
    <!--=End findPerms 查找权限树列表-->
    <!-- pID 对应 PermissionVO 中 pID-->
    <sql id="PermColumn" >
        id, name,pid,istype, code,page
    </sql>

    <!--=Start findPerms 查找权限树列表-->
    <select id="findPerms"  resultMap="findPermissionMap">
        SELECT
          <include refid="PermColumn" />
        FROM
          permission
        WHERE
          pid = 0
    </select>
    <!--=End findPerms 查找权限树列表-->

    <!--=Start findChildPerm 查找所有子节点权限-->
    <select id="findChildPerm" resultMap="findPermissionMap">
        select
        <include refid="PermColumn" />
        from permission
        where pid = #{id}
    </select>
    <!--=End findChildPerm 查找所有子节点权限-->

    <!--=Start findPermsByRole 根据角色ID查找权限树列表-->
    <select id="findPermsByRole" resultType="Permission">
        select
        <include refid="PermColumn" />
        from permission p
        LEFT JOIN role_permission rp ON rp.permit_id=p.id
        WHERE rp.role_id=#{roleId}
    </select>
    <!--=End findPermsByRole 根据角色ID查找权限树列表-->

    <!--=Start getUserPerms 根据用户ID查找权限树列表-->
    <select id="getUserPerms" resultType="com.sizaif.emsdemo.dto.PermissionVO">
        select
        p.id, p.name,p.pid pId,  p.istype, p.code
        from permission p
        LEFT JOIN role_permission rp ON rp.permit_id=p.id
        LEFT JOIN role r ON r.id=rp.role_id
        LEFT JOIN user_role ur ON ur.role_id=r.id
        WHERE ur.user_id=#{userId}
        GROUP BY p.id
    </select>
    <!--=End getUserPerms 根据用户ID查找权限树列表-->





</mapper>
