<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<!--xmlns="http://www.w3.org/1999/xhtml"-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/skin_/login.css}" />
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.select.js}"></script>
<title>赛事管理系统后台管理-用户登录</title>
</head>

<body>

<div id="container">
    <div id="bd">
    	<div id="main">
        	<div class="login-box">
                <div id="logo"></div>
                <h1></h1>
                <form action="" method="post">

                </form>
                <div class="input username" id="username">
                    <label for="userName" th:text="#{login.username}"></label>
                    <span></span>
                    <input type="text" name="userName" />
                </div>
                <div class="input psw" id="password">
                    <label for="password" th:text="#{login.password}"></label>
                    <span></span>
                    <input type="password" name="passWord" />
                </div>
                <div class="input validate" id="validate">
                    <label for="valiDate" th:text="#{login.Vcode}"></label>
                    <input type="text" id="valiDate" />
                    <div class="value">X3D5</div>
                </div>
                <div class="styleArea">
                    <div class="styleWrap">
                        <span name="style">
                            <a th:href="@{/index.html(lang='zh_CN')}">中文</a>
                            <span>|</span>
                            <a th:href="@{/index.html(lang='en_US')}">英文</a>
                        </span>
                    </div>
                </div>
                <!--若msg消息不为空则不显示-->
                <!--<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>-->
                <div id="btn" class="loginButton" >
                    <input type="button" class="button" th:value="#{login.btn}" onclick="userLogin()" />
                </div>
                <div id="btn2" class="loginButton">
                    <input type="button" class="button" th:value="#{login.bt2}"/>
                </div>
            </div>
        </div>
        <div id="ft">CopyRight&nbsp;2020&nbsp;&nbsp;版权所有&nbsp;&nbsp;</div>
    </div>
   
</div>

</body>
<script type="text/javascript">
	var height = $(window).height() > 445 ? $(window).height() : 445;
	$("#container").height(height);
	var bdheight = ($(window).height() - $('#bd').height()) / 2 - 20;
	$('#bd').css('padding-top', bdheight);
	$(window).resize(function(e) {
        var height = $(window).height() > 445 ? $(window).height() : 445;
		$("#container").height(height);
		var bdheight = ($(window).height() - $('#bd').height()) / 2 - 20;
		$('#bd').css('padding-top', bdheight);
    });
	$('select').select();
	
    $('.loginButton').click(function(e) {
        // document.location.href = "/log/user/login";
        $("#form").submit();
    });


</script>

</html>
